*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

header{
  background-color: #add8e6;
  height: 70px;
  padding: 20px;
}

.flex{
  display: flex;
}

nav{
  background-color: #daa520;
  width: 80%;
  margin: auto;
  align-items: center;
}

.dotted{
  border: black dotted;
}

.logo,
.login{
  width: 20%;
}

.login{
  text-align: end;
}

.navbar{
  text-align: center;
  width: 60%;
}

ul{
  list-style: none;
}

li{
  display: inline;
}

.jumbo{
  background-color: #00008b;
  width: 100%;
  height: 400px;
}

.jumbo-pink{
  background-color: #ee82ee;
  height: 80%;
  width: 60%;
  margin: auto;
}

.two-elements{
  width: 80%;
  height: 500px;
  margin: auto;
}

.pink-article{
  background-color: #ffc0cb;
  height: 80%;
  width: 40%;
  margin: auto;
}

.blue-article{
  background-color: #1e90ff;
  height: 80%;
  width: 60%;
  margin: auto;
}

.article-2{
  background-color: #d3d3d3;
  height: 500px;
  margin: auto;
  flex-direction: row-reverse;
}

.article-2 > article{
  flex-direction: row-reverse;
}